<h1>Welcome#index</h1>
<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      <% @wikis.each do |wiki| %>
        <li class="list-group-item">
          <%= link_to  wiki.title, wiki %>
          <small>
            submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.creator.user_name %> 
          </small>
        </li>
      <% end %>
    </ul>
  </div>
</div>

